<div class="row article-section">
	<h1>Main Menu</h1>
	<p>
		While a new menu system wasn't urgent, it was inevitable as the old one didn't really match the new art style of the game. But, I'm 
		really proud of how this one turned out and I hope it's good to stay. 
	</p>
	
	<p>
		The Main Menu now has an overall neon-hologram vibe, fitting more with the rest of the menus in System Remnant such as the HUD.
		The new transitions additionally have a nice, fluid feeling to them expanding the user feedback when moving between options.
		<br>
		<br>
		While looks was the main change to the menu, I've also finally added the ability to rebind the main controls for the keyboard! Gamepad rebinding is coming soon.
	</p>
	<%= image_tag('articles/log-3/control_menu.gif', class: "width-75-center",alt: "System Remnant controls menu")%>
	<p>
		This is almost a requirement at this point, so I decided to finally implement the feature as I was already working on similar areas already. Rebind to your heart's desires!
	</p>
</div>

<div class="row article-section">
	<h1>The Hub</h1>
	<p>
		Quickly mentioned at the end of the last Dev Log, the Hub world is coming back with new gameplay choices in mind. 
	</p>
	<%= image_tag('articles/log-3/HUB.png', class: "width-center",alt: "System Remnant HUB")%>
	<p>
		Here you'll be able to travel between each themed area while keeping your upgrades fresh and your progress saved. 
		The Hub is designed to always have a safe place where you can look at your progress along with choose where you want to 
		head off next. 
		<br>
		<br>
		You'll start off with four of these spires lit, and your goal is to deactivate them all by completing each level associated with each one.
	</p>
	<%= image_tag('articles/log-3/spire.png', class: "width-50-center",alt: "System Remnant Spire")%>
	<p>
		How level progression will work is you'll start with two level choices and can choose which one to play first. Then once you 
		complete those, two more options will open up and you can then again choose which area you want to tackle first. After you 
		deactivate every spire, you will be be sent to a final area that will always be the same no matter which area you played before. 
	</p>
	<%= image_tag('articles/log-3/hub_level.png',alt: "System Remnant HUB layout")%>
	<p>
		I'm still deciding what else you will be able to do in the Hub but do expect more to come in the future!
	</p>
</div>

<div class="row article-section">
	<h1>Screen Shakes</h1>
	<p>
		While the main focus has been on the Main Menu and Hub area, there have been smaller changes throughout the game.
		<br>
		<br>
		One of these changes has been the redesigning of screen shake. Before, the screen shake only affected the HUD and not the camera 
		view itself. So now it does the opposite by shaking the actual view inside of the HUD.
	</p>
	<%= image_tag('articles/log-3/screen_shake.gif',alt: "System Remnant scrren shake shoot")%>
	<%= image_tag('articles/log-3/no_screen_shake.gif',alt: "System Remnant no screen shake shoot")%>
	<p>
		Here you can see the difference between no screen shake when shooting and the addition of screen shake when shooting. It’s something 
		I’m still tweaking, but I feel like it’s a step in the right direction in giving the shooting more impact.
		<br>
		<br>
		While there have been other changes made, most of them have been balancing tweaks to enemies and weapons.
		<br>
		<br>
		Sorry for the late Dev Log this week, as the semester begins to conclude the work load increases leaving less time for 
		System Remnant. But I am hoping to release another video Dev Log within the month to recap everything these written logs have 
		covered. We’ll see how that goes.
		<br>
		<br>
		Thanks again for checking out what's new this week and be sure to follow System Remnant on social media to stay the most updated!
	</p>
	<p class="center">
		<a href="https://twitter.com/RobertTheJewell" target="_blank">Twitter </a> &bull;
		<a href="https://www.facebook.com/SystemRemnant/" target="_blank"> Facebook</a>
	</p>
</div>