<div class="row article-section">
	<p>
		So while there is a ton of new elements that have been added to System Remnant, there has been just as many changes to existing features. This mainly includes the new art style.
	</p>
	
	<h1>Artistic Concentration</h1>
	<p>
		So it's about time I've settled on one concrete art style and color palette because before I had a range of styles that were all conflicting in a way. 
		Here's a picture of the old and new styles side by side.
	</p>
	<%= image_tag('articles/log-1/style_old.png', class: "width-50", alt: "System Remnant old art style")%>
	<%= image_tag('articles/log-1/style_new.png', class: "width-50", alt: "System Remnant new art style")%>
	
	<p>
		As you can see things look generally brighter and colors don't blend as easily with each other. 
		I'm hoping to have everything pop a bit more and I must give credit to the <a href="https://forums.tigsource.com/index.php?topic=46126.300" target="_blank">EDG32</a> pallette for achieving that, as what
		I use is a slight variation of it. This will hopefully allow everything look to better by sticking to a consistent style. 
		<br>
	</p>
	<%= image_tag('articles/log-1/color_palette.png', class: "width-50-center", alt: "System Remnant Color Palette Examples")%>
	<p class="center"><i>Old on the left, New on the right</i></p>
	<p>
		Along with the new art comes some major sprite changes to the player. The player before looked like a generic space guy/robot that was mostly black and had a typical generic weapon. 
		<br>
		<br>
		Now the new player looks more like a droid and can distinguish itself from being human. I've also changed the weapon to be more of an arm-cannon Mega Man style.
		This way the exploration droid has more character than before just by changing how it looks.
	</p>
	<%= image_tag('articles/log-1/players.jpg', class: "width-50-center", alt: "System Remnant Player")%>
	<p>
		While there have been many improvements, not everything has been converted to the new style yet but for what is done and I got to say it's looking pretty good.
	</p>
</div>

<div class="row article-section">
	<h1>The HUD</h1>
	<p>
		The style changes also includes the HUD (Heads Up Display), one aspect of System Remnant that has been constantly changing. Being the 5th iteration, 
		this HUD will hopefully stay as I feel it is doing its job in a simplistic yet informative manner.
	</p>
	<%= image_tag('articles/log-1/HUD.png', alt: "System Remnant HUD")%>
	
	<ol>
		<li><strong style="color:#EC7979;">HP/EXP Bar</strong> - This is where you'll see your current HP and experience progress.</li>
		<li><strong style="color:#EC7979;">Ability Slots</strong> - Here are the two ability slots. One is the default 'dodge' ability and the second can hold another from a module. When used they will fade and the four frame pieces will flicker on one-by-one until it's ready to use again.</li>
		<li><strong style="color:#EC7979;">Ammo Bar</strong> - You'll be able to see how much of your clip you have left.</li>
		<li><strong style="color:#EC7979;">Scrap Counters</strong> - Here are the currencies and how many of each you currently have. More on that later.</li>
	</ol>
	<p>
		Now it isn't perfect as it's still missing a bunch of features I'd like to add in later but for now I feel like it will work for the basic functions.
		I also want to had more "juice" to the HUD elements to make them more interesting. For instance, having an animation for the experience bar when the player
		levels up. But, that will come later.
	</p>
</div>

<div class="row article-section">
	<h1>The Crushtal and Scout</h1>
	<p>
		These brand new enemies are both a new type of enemy, that is flying. Both the Crushtal and Scout travel by air meaning they can get to you a whole lot easier.
	</p>
	<%= image_tag('articles/log-1/crushtal_scout.jpg', alt: "System Remnant Crushtal and Scout")%>
	<p>
		The Crushtal's main attack is its pound/shockwave move, where if you're standing underneath one it will attempt to crush you. If that wasn't bad enough, you'll 
		also get hit by the ice spike shockwave that follows if you're not careful.
		<br>
		<br>
		Then we have the Scout, a member of the Guardians. This little metallic cube does not appreciate foreign entities on its planet and will take the precautions to 
		remove them. That includes firing weak but plentiful plasma balls. These plasma shots won't stop when hitting a wall so taking cover won't do you any good in this case.
	</p>
	<%= image_tag('articles/log-1/scout_attack.jpg', alt: "System Remnant Scout Attack")%>
</div>

<div class="row article-section">
	<h1>Tall Tree Top</h1>
	<p>
		This new leafy area is home to LogTrogs and abandoned construction sites. By being nested so high in the trees, falling would be a lethal mistake.
	</p>
	<%= image_tag('articles/log-1/cover.png', alt: "System Remnant Tall Tree Top")%>
	<p>
		The new area is one I just started working on so a lot of the art/design may be temporary and will probably change as time goes on. I wanted to have more than
		one working area to show off and this brings me closer to that.
		<br>
		<br>
		Along with the new area, a new way to travel the environment has been added in the form of ladders and rope.
	</p>
	<%= image_tag('articles/log-1/rope-ladder.jpg', alt: "System Remnant ropes and ladders")%>
	<p>
		These features will allow you to scale vertically a bit easier although you will be vulnerable to attacks without a way to fight back.
		<br>
		<br>
		While there is plenty more that hasn't been covered, I will go continue to go over the new currency, the Gambler, and more in the next dev log.
		Thank you for reading and be sure to check in two weeks later!
		<br>
		<br>
		Also be sure to follow me on Twitter for the latest updates (<a href="https://twitter.com/RobertTheJewell">@RobertTheJewell</a>)
	</p>
</div>